<h1>Welcome to Climb!</h1>
<p>Dig Your Way Out of Debt.</p>
<% if !current_user %>
  <%= link_to "Log In", new_session_path %>
  <%= link_to "Sign up", new_user_path %>
<% else %>
  <%= link_to "Log Out",  session_path, method: :delete %>

<% end %>
